#skills{}
#skills .container{
  display: flex;
  align-items: center;
}
#skills .container .skills-img{
  width: 50%;
}
#skills .container .skills-img img{
  width: 100%;
}
#skills .container .skills-right{
  width: 50%;
}
#skills .container .skills-right h2{
  margin: 10px;
}
#skills .container .skills-right p{
  margin: 10px;
}
#skills .container .skills-right .skill-bar{
  margin: 10px 10px;
}
#skills .container .skills-right .skill-bar .progress{
  margin: 20px 0;
}
#skills .container .skills-right .skill-bar .progress .skill{
  display: flex;
  justify-content: space-between;
}
#skills .container .skills-right .skill-bar .progress .skill span,
#skills .container .skills-right .skill-bar .progress .skill i{
  font-weight: 800;
  font-size: 0.8rem;
}
#skills .container .skills-right .skill-bar .progress .progressbar-wrap{
  width: 100%;
  height: 10px;
  background-color: var(--bg-light);
}
#skills .container .skills-right .skill-bar .progress .progressbar-wrap .progress-bar{
  background-color: var(--dark);
}
#skills .container .skills-right .skill-bar .progress:nth-child(1) .progressbar-wrap .progress-bar{
  height: 100%;
  width: 100%;
}
#skills .container .skills-right .skill-bar .progress:nth-child(2) .progressbar-wrap .progress-bar{
  height: 100%;
  width: 90%;
}
#skills .container .skills-right .skill-bar .progress:nth-child(3) .progressbar-wrap .progress-bar{
  height: 100%;
  width: 75%;
}
#skills .container .skills-right .skill-bar .progress:nth-child(4) .progressbar-wrap .progress-bar{
  height: 100%;
  width: 55%;
}
@media(max-width: 1024px) {
  #skills .container{
    flex-direction: column;
  }
}